<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 lg:gap-4 md:gap-4 gap-4 text-base text-white w-full bg-[--clr-surface-a10] rounded-lg shadow-lg p-4">
    <!-- First Column -->
    <div class="space-y-4">
        <span class="flex items-center mt-0">
            File Name:&nbsp;<p class="font-bold truncate">{{ file_info.name }}</p>
        </span>

        <span class="flex items-center mt-4">
            File Size:&nbsp;<span class="font-bold truncate">{{ file_info.size_mb }}</span>
        </span>

        <span class="flex items-center mt-4">
            Total Packets:&nbsp;<span class="font-bold truncate">{{ file_info.total_packets }}</span>
        </span>
    </div>

    <div class="space-y-4">
    <!-- Second Column -->

        <span class="flex items-center">
            Upload:&nbsp;<span class="font-bold truncate">{{ file_info.submission_date }}</span>
        </span>

        <span class="flex items-center mt-4">
            Start:&nbsp;<span class="font-bold truncate">{{ file_info.start_date }}</span>
        </span>

        <span class="flex items-center mt-4">
            Finish:&nbsp;<span class="font-bold truncate">{{ file_info.end_date }}</span>
        </span>
        
    </div>

    <!-- Third Column -->
    <div class="space-y-4">

        <span class="flex items-center mt-0">
            Time Span:&nbsp;<span class="font-bold truncate">{{ file_info.time_difference }}</span>
        </span>

        <span class="flex items-center mt-0">
            MD5:&nbsp;<span class="font-bold truncate truncate">{{ file_info.md5_hash }}</span>
        </span>

    </div>
</div>
