<div id="table-container" class="table-container"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Snort data from Flask
        const snortData = {{ file_info['snort_rules'] | tojson | safe }};
        
        new gridjs.Grid({
            columns: [
                { name: "Priority" },
                { name: "Date" },
                { name: "Time" },
                { name: "Rule ID" },
                { name: "Message" },
                { name: "Classification" },
                { name: "Protocol" },
                { name: "Source" },
                { name: "Destination" }
            ],
            data: snortData.map(item => [
                item.Priority, 
                item.Date,
                item.Time,
                item.RuleID,
                item.Message,
                item.Classification,
                item.Protocol,
                item.Source,
                item.Dest
            ]),
            search: true,
            pagination: {
                limit: 10
            },
            sort: true,
            resizable: true,
            width: "100%",
            autoWidth: true,
        }).render(document.getElementById("table-container"));
    });
</script>
