<div id="ipTable" class="font-mono relative overflow-x-auto shadow-md sm:rounded-lg"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const snortData = {{ file_info['unique_ips']['top_ips'] | tojson | safe }};
        
        new gridjs.Grid({
            columns: [
                { 
                    name: "IP Address", 
                    id: "ip" 
                },
                {
                    name: "Organization", 
                    id: "org",
                    formatter: (cell) => cell ? cell : 'N/A'
                },
                { 
                    name: "Location", 
                    id: "location", 
                    formatter: (cell, row) => {
                        const ip = row.cells[0].data;
                        
                        const country = snortData[ip] && snortData[ip].country ? snortData[ip].country.trim().toLowerCase() : 'unknown';
    
                        const flagCode = (country === 'bogon' || country === 'unknown') ? 'xx' : country;
    
                        return gridjs.html(`
                            <div class="flex items-center gap-2">
                                <img src="/static/images/flags/${flagCode}.svg" 
                                     width="16" 
                                     alt="${country}">
                                ${cell}
                            </div>
                        `);
                    }
                },
                { 
                    name: "Count", 
                    id: "count", 
                    formatter: (cell) => cell.toString()
                },
                { 
                    name: "Percent %", 
                    id: "percentage", 
                    formatter: (cell) => `${cell.toFixed(2)}%`
                }
            ],
            data: Object.keys(snortData).map(ip => [
                ip,
                snortData[ip]['org'],
                snortData[ip]['location'],  // Location remains the same
                snortData[ip]['count'],
                snortData[ip]['percentage']
            ]),
            search: true,
            pagination: {
                limit: 10
            },
            sort: true,
            resizable: true,
            width: "100%",
            autoWidth: true
        }).render(document.getElementById("ipTable"));
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(() => {
            const column = document.querySelector('[data-column-id="count"]');
            
            if (column) {
                let clickCount = 0;
                const interval = setInterval(() => {
                    column.click();
                    clickCount++;
                    
                    if (clickCount >= 2) {
                        clearInterval(interval);
                    }
                }, 100);
            }
        }, 200);
    });
</script>