<div id="macTable" class="font-mono relative overflow-x-auto shadow-md sm:rounded-lg"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const macData = {{ (file_info.get('mac_addresses', {}).get('top_macs', {})) | tojson | safe }};
        
        new gridjs.Grid({
            columns: [
                { 
                    name: "MAC Address", 
                    id: "mac" 
                },
                { 
                    name: "OUI Resolved", 
                    id: "oui_resolved" 
                },
                { 
                    name: "Count", 
                    id: "mac-count", 
                    formatter: (cell) => cell.toString()  // Ensure the count is displayed as a string
                },
                { 
                    name: "Percent %", 
                    id: "percentage", 
                    formatter: (cell) => `${cell.toFixed(2)}%`  // Format percentage with two decimal places
                }
            ],
            data: Object.keys(macData).map(mac => [
                mac,
                macData[mac]['oui_resolved'] || 'N/A',  // Handle missing OUI resolved values
                macData[mac]['count'],
                macData[mac]['percentage']
            ]),
            search: true,
            pagination: {
                limit: 10
            },
            sort: true,  // Enable sorting
            resizable: true,
            width: "100%",
            autoWidth: true
        }).render(document.getElementById("macTable"));
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(() => {
            const column = document.querySelector('[data-column-id="mac-count"]');
            
            if (column) {
                let clickCount = 0;
                const interval = setInterval(() => {
                    column.click(); 
                    clickCount++;
                    
                    if (clickCount >= 2) {
                        clearInterval(interval);
                    }
                }, 100);
            }
        }, 200);
    });
</script>