<div class="relative rounded-lg shadow-lg max-h-[350px] bg-[--clr-surface-a10]">
    <div class="relative p-4">
        <span class="flex items-center mt-0 absolute top-0 left-0 p-4 font-semibold text-lg">
            Top Internet Protocol (IP) Versions&nbsp;
            <div class="relative w-max group">
            <button type="button" class="text-[--clr-surface-a50]">(?)&nbsp;</button>
                <div class="absolute shadow-lg hidden group-hover:block bg-[#333] text-white font-semibold px-3 py-[6px] text-[13px] left-1/2 transform -translate-x-1/2 bottom-full rounded z-10" style="min-width: 200px;">
                    This chart shows the distribution of IPv4 and IPv6 packets in the .pcap file. Every IP address is counted, including duplicates. The percentage is calculated based on the total number of packets.
                </div>
            </div>
        </span>
        <div class="absolute top-2 right-2 flex ">
            <button id="chartButton1" class="p-2 text-white rounded-l-lg active-button">
                <i class="fa-solid fa-chart-pie"></i>
            </button>
            <button id="tableButton1" class="p-2 text-[--clr-surface-a30] rounded-r-lg">
                <i class="fa-solid fa-table"></i>
            </button>
        </div>
    </div>
    <div class="flex justify-center items-center h-full p-2" id="chartContainer1">
        <canvas id="ipChart"></canvas>
        <div class="flex flex-col items-start ml-2">
            <div class="flex items-center mb-2">
                <span class="inline-block w-4 h-4 bg-[#54478C] rounded-full mr-2"></span>
                <span class="text-white">IPv4</span>
                <span class="font-bold text-white ml-2">{{ file_info.ipv4percent }}%</span>
            </div>
            <div class="flex items-center mb-2">
                <span class="inline-block w-4 h-4 bg-[#2C699A] rounded-full mr-2"></span>
                <span class="text-white">IPv6</span>
                <span class="font-bold text-white ml-2">{{ file_info.ipv6percent }}%</span>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-start h-full p-2 hidden" id="tableContainer1">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full mt-4">
            <table class="sortable w-full text-left rtl:text-right text-white" id="ipvTable">
                <thead class="text-lg text-white bg-[--clr-surface-a5]">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            IP Version
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Count
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Percent %
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-[--clr-surface-a10] border-b border-[--clr-surface-a5] hover:bg-[--clr-surface-a20]">
                        <td class="px-6 py-4 text-white">
                            IPv4
                        </td>
                        <td class="px-6 py-4">
                            {{ file_info.ipv4 }}
                        </td>
                        <td class="px-6 py-4">
                            {{ file_info.ipv4percent }}%
                        </td>
                    </tr>
                    <tr class="bg-[--clr-surface-a10] border-b border-[--clr-surface-a5] hover:bg-[--clr-surface-a20]">
                        <td class="px-6 py-4 text-white">
                            IPv6
                        </td>
                        <td class="px-6 py-4">
                            {{ file_info.ipv6 }}
                        </td>
                        <td class="px-6 py-4">
                            {{ file_info.ipv6percent }}%
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const table = document.getElementById("ipvTable");
        const tbody = table.querySelector("tbody");
        const rows = Array.from(tbody.querySelectorAll("tr"));

        rows.sort((rowA, rowB) => {
            const cellA = Number(rowA.children[1].textContent.trim());
            const cellB = Number(rowB.children[1].textContent.trim());
            return cellB - cellA;  // Sort by count in descending order
        });

        rows.forEach(row => tbody.appendChild(row));
    });
</script>

<script>
    // Get the data from the Flask template
    const ipv4Count = {{ file_info.ipv4 }};
    const ipv6Count = {{ file_info.ipv6 }};
    
    // Calculate total to get percentage
    const total = ipv4Count + ipv6Count;
    const ipv4Percent = ((ipv4Count / total) * 100).toFixed(2);
    const ipv6Percent = ((ipv6Count / total) * 100).toFixed(2);
    
    // Create a doughnut chart
    const ipCtx = document.getElementById('ipChart').getContext('2d'); 
    const ipChart = new Chart(ipCtx, {
        type: 'doughnut',
        data: {
            labels: ['IPv4', 'IPv6'],
            datasets: [{
                data: [ipv4Count, ipv6Count],
                backgroundColor: ['#54478C', '#2C699A', '#048BA8', '#0DB39E', '#16DB93', '#83E377', '#B9E769', '#EFEA5A', '#F1C453', '#F29E4C'],
                hoverOffset: 4
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            cutout: '70%',
            layout: {
                padding: 50
            },
            plugins: {
                legend: {
                    display: false // Disable the legend
                },
                tooltip: {
                    borderWidth: 0,
                    callbacks: {
                        label: function(tooltipItem) {
                            let label = tooltipItem.chart.data.labels[tooltipItem.dataIndex] || '';
                            let value = tooltipItem.raw;
                            return `${label}: ${value}`;
                        },
                        labelColor: function (context) {
                            return {
                                borderColor: "rgba(0,0,0,0)",
                                backgroundColor: context.dataset.backgroundColor[context.dataIndex],
                                borderWidth: 0
                            };
                        }
                    }
                }
            },
            elements: {
                arc: {
                    borderColor: '#282828'
                }
            }
        }
    });
</script>

