<div class="relative rounded-lg shadow-lg max-h-[350px] bg-[--clr-surface-a10]">
    <div class="relative p-4">
        <span class="flex items-center mt-0 absolute top-0 left-0 p-4 font-semibold text-lg">
            Top Application Layer Protocols (L7)&nbsp;
            <div class="relative w-max group">
            <button type="button" class="text-[--clr-surface-a50]">(?)&nbsp;</button>
                <div class="absolute shadow-lg hidden group-hover:block bg-[#333] text-white font-semibold px-3 py-[6px] text-[13px] left-1/2 transform -translate-x-1/2 bottom-full rounded z-10" style="min-width: 200px;">
                    This chart shows the distribution of the top 7 application layer protocols (L7) in the captured packets. The percentage is calculated based on the total number of packets.
                </div>
            </div>
        </span>
        <div class="absolute top-2 right-2 flex">
            <button id="chartButton3" class="p-2 text-white rounded-l-lg active-button">
                <i class="fa-solid fa-chart-pie"></i>
            </button>
            <button id="tableButton3" class="p-2 text-[--clr-surface-a30] rounded-r-lg">
                <i class="fa-solid fa-table"></i>
            </button>
        </div>
    </div>
    <div class="flex justify-center items-center h-full p-2" id="chartContainer3">
        <canvas id="l7protocolChart"></canvas>
        <div class="flex flex-col items-start ml-2">
            {% set colors = ['#54478C', '#2C699A', '#048BA8', '#0DB39E', '#16DB93', '#83E377', '#B9E769', '#EFEA5A', '#F1C453', '#F29E4C'] %}
            
            {% for protocol, count in file_info.l7_top_protocols.items() %}
                {% set percentage = file_info.l7_protocol_percentages[protocol] %}
                <div class="flex items-center mb-2">
                    <span class="inline-block w-4 h-4 rounded-full mr-2" style="background-color: {{ colors[loop.index0] if loop.index0 < colors|length else '#000' }};"></span>
                    <span class="text-white mr-2">{{ protocol }}</span>
                    <span class="font-bold text-white">{{ percentage }}%</span>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="flex justify-center items-start p-2 hidden" id="tableContainer3">
        <div class="relative overflow-auto shadow-md sm:rounded-lg w-full max-h-[285px] mt-4 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-[--clr-surface-a10] [&::-webkit-scrollbar-thumb]:bg-[--clr-surface-a20] [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full">
            <table class="sortable w-full text-left rtl:text-right text-white" id="l7ProtocolTable">
                <thead class="text-lg text-white bg-[--clr-surface-a5]">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Port
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Count
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Percent %
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for protocol, count in file_info['l7_top_protocols'].items() %}
                        <tr class="bg-[--clr-surface-a10] border-b border-[--clr-surface-a5] hover:bg-[--clr-surface-a20]">
                            <td class="px-6 py-4 text-white">
                                {{ protocol }}
                            </td>
                            <td class="px-6 py-4">
                                {{ count }}
                            </td>
                            <td class="px-6 py-4">
                                {{ file_info['l7_protocol_percentages'][protocol] }}%
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Get the data from the Flask template
    const topL7ProtocolsDataFromFlask = {{ file_info.l7_top_protocols | tojson }};  // Data passed from Flask

    // Ensure the data is valid
    if (!topL7ProtocolsDataFromFlask || typeof topL7ProtocolsDataFromFlask !== "object") {
        console.error("Invalid data received:", topL7ProtocolsDataFromFlask);
    }

    // Sort and get the top 5 protocols directly from the object
    const topL7ProtocolsArray = Object.entries(topL7ProtocolsDataFromFlask)
        .sort((a, b) => b[1] - a[1])  // Sort by count, descending
        .slice(0, 7);  // Take only the top 5 or fewer

    // Extract labels and data from top protocols
    const topL7ProtocolsLabels = topL7ProtocolsArray.map(item => item[0]);  // Protocol names
    const topL7ProtocolsDataArray = topL7ProtocolsArray.map(item => item[1]);  // Protocol counts

    // If there's no valid data, provide fallback
    if (topL7ProtocolsLabels.length === 0) {
        topL7ProtocolsLabels.push("No Data");
        topL7ProtocolsDataArray.push(0);
    }

    // Draw Pie Chart for Protocols Distribution
    function drawTopL7ProtocolsPieChart() {
        var ctxTopL7Protocols = document.getElementById("l7protocolChart").getContext('2d');
        var topL7ProtocolsChart = new Chart(ctxTopL7Protocols, {
            type: 'doughnut',
            data: {
                labels: topL7ProtocolsLabels,
                datasets: [{
                    data: topL7ProtocolsDataArray,
                    backgroundColor: ['#54478C', '#2C699A', '#048BA8', '#0DB39E', '#16DB93', '#83E377', '#B9E769', '#EFEA5A', '#F1C453', '#F29E4C'],
                    hoverOffset: 4
                }]
            },
            options: {
            responsive: true,
            maintainAspectRatio: true,
            cutout: '70%',
            layout: {
                padding: 50
            },
            plugins: {
                legend: {
                    display: false // Disable the legend
                },
                tooltip: {
                    borderWidth: 0,
                    callbacks: {
                        label: function(tooltipItem) {
                            let label = tooltipItem.chart.data.labels[tooltipItem.dataIndex] || '';
                            let value = tooltipItem.raw;
                            return `${label}: ${value}`;
                        },
                        labelColor: function (context) {
                            return {
                                borderColor: "rgba(0,0,0,0)",
                                backgroundColor: context.dataset.backgroundColor[context.dataIndex],
                                borderWidth: 0
                            };
                        }
                    }
                }
            },
            elements: {
                arc: {
                    borderColor: '#282828'
                }
            }
        }
        });
    }

    // Call the function to draw the pie chart
    drawTopL7ProtocolsPieChart();
</script>