<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css' rel='stylesheet' />

<script>
document.addEventListener("DOMContentLoaded", function () {
    // Parse ipMapData
    const ipMapData = {{ file_info['unique_ips']['top_ips'] | tojson | safe }};
    
    // Process map data
    const mapData = Object.keys(ipMapData).map(ip => {
        const loc = ipMapData[ip].loc;
        if (!loc || loc.trim() === '') return null;
        
        const coords = loc.split(',').map(parseFloat);
        if (coords.length !== 2 || isNaN(coords[0]) || isNaN(coords[1])) return null;
        
        return {
            rank: ipMapData[ip].rank,
            title: ip,
            latitude: coords[0],
            longitude: coords[1],
            country: ipMapData[ip].country,
            count: ipMapData[ip].count,
            org: ipMapData[ip].org,
            hostname: ipMapData[ip].hostname,
            location: ipMapData[ip].location,
            timezone: ipMapData[ip].timezone,
            percentage: parseFloat(ipMapData[ip].percentage.toFixed(2))
        };
    }).filter(data => data !== null);
    
    console.log(mapData)

    // Initialize Leaflet map
    const map = L.map('ipMap').setView([20, 0], 2);

    // Dark-themed tile layer (CartoDB Dark Matter)
    L.tileLayer('https://tile.jawg.io/jawg-dark/{z}/{x}/{y}{r}.png?access-token=AmpvthQfCvrciGf9uwOxVxLJtBM5tAPzFQku70CODOsifZEhI5yTk2hpQ9zFwRb3', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/">CARTO</a>',
        subdomains: 'abcd',
        maxZoom: 20
    }).addTo(map);

    // Initialize marker cluster group with smaller cluster radius
    const markers = L.markerClusterGroup({
        maxClusterRadius: 40,
        disableClusteringAtZoom: 10
    });

    // Add markers to the cluster group
    mapData.forEach(item => {
        const marker = L.marker([item.latitude, item.longitude])
            .bindPopup(`
                <strong>IP:</strong> ${item.title}<br>
                <strong>Packets:</strong> ${item.count}<br>
                <strong>Rank:</strong> ${item.rank}<br>
                <strong>Location:</strong> ${item.location}<br>
                <strong>Organization:</strong> ${item.org}<br>
                <strong>Timezone:</strong> ${item.timezone}<br>
                <strong>Percentage:</strong> ${item.percentage}%
            `);
        markers.addLayer(marker);
    });

    // Add marker cluster group to the map
    map.addLayer(markers);

});
</script>