<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ imports|safe }}
    <title>PCAP Analysis</title>
</head>

<body class="font-mono">
    {% include 'navbar.html' %}
    
    <div class="max-w-7xl w-full mx-auto p-6">
        <div class="flex flex-col w-full">
            <div class="pb-8 border-b border-slate-200 w-full">
                <h1 class="text-4xl font-semibold mt-4 flex items-center justify-between w-full">
                    <span>PCAP Analyzer</span>
                </h1>

                <hr class="h-px my-8 bg-slate-200 border-0">

                <h2 class="font-bold text-2xl mb-6">File Statistics</h2>
                
                <!-- Grid Layout -->
                {% include 'file_statistics.html' %}

                <hr class="h-px my-8 bg-slate-200 border-0">

                <h2 class="font-bold text-2xl mb-6">File Analytics</h2>

                <div style="width: 50%; margin: 0 auto;">
                    <canvas id="ipChart"></canvas>
                </div>
            
                <script>
                    // Get the data from the Flask template
                    const ipv4Count = {{ file_info.ipv4 }};
                    const ipv6Count = {{ file_info.ipv6 }};
            
                    // Create a doughnut chart
                    const ctx = document.getElementById('ipChart').getContext('2d');
                    const ipChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: ['IPv4', 'IPv6'],
                            datasets: [{
                                data: [ipv4Count, ipv6Count],  // Data from Flask
                                backgroundColor: ['#00b894', '#0984e3'],
                                hoverOffset: 4
                            }]
                        },
                        options: {
                            responsive: true,
                            cutout: '70%',
                            borderRadius: 17,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                tooltip: {
                                    callbacks: {
                                        label: function(tooltipItem) {
                                            return tooltipItem.label + ': ' + tooltipItem.raw;
                                        }
                                    }
                                }
                            },
                            // elements : {
                            //     arc: {
                            //         borderWidth: 10,
                            //         borderColor: 'white'
                            //     }
                            // }
                        }
                    });
                </script>
                
            </div>
        </div>
    </div>
          
    {% include 'footer.html' %}
</body>
</html>
